{{define "mainDashboard"}}
<!DOCTYPE html>

<head>
    <title>Dashboard</title>
    {{template "styles"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="main-container">
        <h2 class="card-title">Websites</h2>

        <div class="cards-container">
            {{range .Websites}}
            <div class="card-website">
                <h2 class="card-title">{{.Name}}</h2>
                <p>Url:</p>
                <a href="{{.URL}}" target="_blank">{{.URL}}</a>
                <br/>
                <br/>
                <p>Short Url: </p>
                <p>/l/{{.ShortURL}}</p>

                <a class="btn-submit btn-website" href="/website/{{.ID}}">View Details</a>
            </div>
            {{end}}
        </div>
    </div>
</body>



</html>
{{end}}