{{define "mainDashboard"}}
<!DOCTYPE html>

<head>
    <title>Dashboard</title>
    {{template "styles"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="main-container">
        <h2 class="card-title">Websites</h2>

        <div class="website-container">
            {{range .Websites}}
            <div class="card-website">
                <h2 class="card-title">{{.Name}}</h2>
                <a href="{{.URL}}" target="_blank">{{.URL}}</a>

                <a href="/website/{{.Name}}/edit">Edit</a>
                <a href="/website/{{.Name}}/delete">Delete</a>
                <a class="btn" href="/website/{{.ID}}">View Traffic</a>
            </div>
            {{end}}
        </div>
    </div>
</body>



</html>
{{end}}