// button
$color-btn-background: #3f51b5;
$color-btn-background-hover: #303f9f;
$color-btn-text: #fff;


// default button
button {
    height: 30px;
    background-color: $color-front-background;
    border-radius: 3px;
    border: $border-inactive;
    padding: 0 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: $transition-default;
    font-family: $font-family-p;
    font-size: $font-size-p;
}

button:hover {
    border: $border-active;
}

.btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background-color: $color-front-background;
    border-radius: 3px;
    border: $border-inactive;
    padding: 0 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: $transition-default;
    font-family: $font-family-p;
    font-size: $font-size-p;
    color: $color-text;
    text-decoration: none;
}

.btn:hover {
    border: $border-active;
}

.btn-default {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}


// button used to submit forms
.btn-submit {
    margin-top: 40px;
    background-color: $color-btn-background;
    color: $color-front-background;
    border: none;
    height: 40px;
    line-height: 40px;
    transition: $transition-default;
    border-radius: 3px;
    font-family: $font-family-p;
    font-size: $font-size-p;
    width: 100%;
    cursor: pointer;
    transition: $transition-default;
}

.btn-submit:hover {
    background-color: $color-btn-background-hover;
    border: none;
    cursor: pointer;
}

.btn-website {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 0 0;
}