table {
	font-family: $font-family-p;
	font-size: 12px;
    width: 480px;
    max-width: 100%;
	text-align: left;
    border-collapse: collapse;
    margin: 0 auto 45px auto;
}
$table-h-background: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d9d9d9' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

table th {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
	color: $color-text;
	background-image: $table-h-background;
}

table td {
	padding: 10px 15px;
	color: $color-text;
	border-top: 1px solid #e4e4e4;
}

table tr:hover td {
	background: #f3f3f3;
}

.table-title {
	text-align: center;
	margin-bottom: 20px;
}