* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f5f5f5;
  color: #313131; }

.card-signup {
  background: #fafafa;
  border: 1px solid #fafafa;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  max-width: 100%;
  padding: 40px 40px;
  margin: 40px auto; }

.card-title {
  display: block;
  text-align: center;
  margin-bottom: 40px; }

.error-message {
  color: #cf1f1f; }

input[type="text"], input[type="password"], input[type="email"], textarea {
  font-family: "Fira Sans, Arial", sans-serif;
  font-size: 14px;
  color: #313131;
  border: 1px solid #c2c0c2;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  padding: 2px 5px;
  width: 100%; }

input[type="text"], input[type="password"], input[type="email"] {
  height: 30px; }

input[type="text"]:focus, input[type="password"]:focus,
input[type="email"]:focus, textarea:focus {
  border: 1px solid #8a8a8a;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }

label {
  font-family: "Fira Sans, Arial", sans-serif;
  font-size: 14px;
  color: #313131; }

input[type="text"].error, input[type="password"].error, input[type="email"].error, textarea.error {
  border: 1px solid #cf1f1f; }

input[type="text"]:focus.error, input[type="password"]:focus.error,
input[type="email"]:focus.error, textarea:focus.error {
  -webkit-box-shadow: 0px 0px 5px rgba(207, 31, 31, 0.3);
  box-shadow: 0px 0px 5px rgba(207, 31, 31, 0.3); }

button {
  height: 30px;
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid #c2c0c2;
  padding: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: "Fira Sans, Arial", sans-serif;
  font-size: 14px; }

button:hover {
  border: 1px solid #8a8a8a; }

.btn-submit {
  margin-top: 40px;
  background-color: #3f51b5;
  color: #fafafa;
  border: none;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 3px;
  font-family: "Fira Sans, Arial", sans-serif;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s linear; }

.btn-submit:hover {
  background-color: #303f9f;
  border: none;
  cursor: pointer; }
