{{define "displayTraffic"}}
<!DOCTYPE html>

<head>
    <title>{{.Website.Name}} Traffic</title>
    {{template "styles"}}
</head>

<body>
    {{template "navbar" .}}

    <div class="main-container">
        <div class="row row-wrap card-website-title">
            <div class="col-20">
                <h3>{{.Website.Name}}</h3>
            </div>
            <div class="col-60">
                <h1 class="text-centered text-upper">Traffic</h1>
            </div>
        </div>

        {{template "website-actionBtns" .}}

        <div class="cards-container">
            <div class="card-small">
                <h3 class="table-title text-upper">Most Clicked</h3>
                <h3>
                    <a href="{{.MostClicked.MostClickedURL}}" target="_blank"> {{.MostClicked.MostClickedURL}}</a>
                </h3>
            </div>

            <div class="card-small">
                <h3 class="table-title text-upper">Top Visitor</h3>
                <h3>{{.TopVisitors.TopVisitor}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="half padding-10">
                <h2 class="table-title text-upper">Top visitors</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Visitor</th>
                            <th>Lands</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $i, $e := .TopVisitors.Visitors}}
                        <tr>
                            <td>{{ $e.IP }}</td>
                            <td>{{ $e.Amount }}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

            <div class="half padding-10">
                <h2 class="table-title text-upper">Last visitors</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Visitor</th>
                            <th>Lands</th>
                            <th>Last Visit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $i, $e := .LastVisitors.Visitors}}
                        <tr>
                            <td>{{ $e.IP }}</td>
                            <td>{{ $e.Amount }}</td>
                            <td>{{ $e.LastVisit}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>

        <h2 class="table-title text-upper">Most clicked content</h2>
        <table>
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                {{range $i, $e := .MostClicked.Clicks}}
                <tr>
                    <td>{{ $e.URL }}</td>
                    <td>{{ $e.ClicksNum }}</td>
                </tr>
                {{end}}
            </tbody>
        </table>



    </div>
</body>

</html>

{{end}}